## PYTHON INTRODUCTION -  (TASK - 1)
* I hope everybody install Anconda software which i share to you guys right
* Just wanted to know how many of know any programming language
* If you dont know any programming language then you are the best person to learn PYTHON 
* python is very easy language
* what is python? Ans - python is highly recommanded programming language & object oriented language
* Father of python - Guido van Rosam
* Python came from fun tv show called ''complete monty python's flying circus'' - broadcasted in BBC channel 
* Python - procudeure oriented progrmming language, functional programming language, object oriented programming language,scripting language,modular programming language
* Python borrowed all concept from c,c++,java,unix ( so python is everything) thats why python very very powerfull tool
* Python developed in NRI - (Netherland) & lot of people say that python is new language
* Java released on 1995. python was released on 1989 officialy released on (feb 20th 1991)

* Now python is very popular based on software industry requirment because everybody wants to write very less code/concile code
* Current market trend is - Machine learing, Artificial intelligence, data science & Iot(Internet of things)
* which companies are used python - google,nasa,uber,netfliz,reddit,facebook, everywhere python used everywhere
* python code can understand everybody & python is dynamic programming language
* In python everything done by PVM (python virtual machine)
* you can access python in any platform independent- windows, linux, mac one code can run in all the 4 platform & no need to     write separate programe for every platform. Once you write code you can run in platform
* Python is dynamically programming language (not required to declared data types)
* Python is freeware and open source. Moving from one platform to other platform without changeing any code
* Python contains rich libray - numpy,pandas so python is the best application for datascience
* which scenario python can't be used - ( python can not perform in mobile application like android )
* Flavours of python - cpython(C programming),jpython(java programming),Iron python(c#.net),Ruby python(Ruby based application   programme),Anaconda python(Bigdata,datascience)
* Python 1.0 introduce in jan 1994 -- Noorganization is working now
* Python 2.0 introduce in oct 2000 -- Noorganization is working now
* Python 3.0 introduce in Dec 2008 -- latest version - 3.6, 3.6, 3.7, 3.8

In [1]:
import sys
sys.version

'3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]'

### PYTHON IDENTIFIER --
* There is a person whose name - Multiple names are to identify person.so finally the   Name which can be used for identification purpose.
* Name in the python programme is called IDENTIFIER (x = 10) (X - identifier)
* Identifier can be -- (variable name,class name or method name)
*'''  
     
* Nameing ceremoney we have some rules to naming a child . e.g - Gods name,Ancestor Name,have to do     some R & D. you cannot keep the child name as - Cat or dog right.. so parent have to follow some     rule and keep their child naming ceremony.

*Rules to define Python Identifier & we will check those rules ==

<1>Alphabet (uppercae & lowercase)
  digits (0-9)
  underscore(_)

In [2]:
#x = 10 # x is the variable & 10 is thealue
cash = 10 # Identifier ruls alphabet
#ca$h = 10 # $ - symbole is not allowed in python identifier but in java is allowed
cash

10

In [3]:
# <2> Identifiers should not starts with dight ====
#sum123 = 20 # Digit rules identifier
123total = 30
123total

SyntaxError: invalid syntax (<ipython-input-3-ddf07d34c696>, line 3)

In [ ]:
# <3> Identifiers are case sensitive
total = 10 # Python are case sensitive
#TOTAL = 20
total

In [ ]:
# <4> Keywords can not be assigned as identifier
#if = 10   # if is keyword
DEF = 20  # def is keyword
#for = 50
DEF

In [ ]:
# 5> NO length limit in python Identifier
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww = 10
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww

In [ ]:
_abc_def_gef  =10
_abc_def_gef

* Q & A for valid / Invalid identifier - 
1>123AMXwAM
2>AmxWam123
3>ml2ai
4>_abc_def_gef (( # ))
5>def
6>if

* ----- RULES OF PYTHONG IDENTIFIER ------
1> A to Z, a to z, 0 - 9
2> Doesnot starts with dight
3> Case sensitive
4> Reserved words or keywords cannot be a identifier
5> Identifier cannot have a lenght limit


* ========================= WE LEARNT ABOUT PYTHON IDENTIFIER IN DETAILS ============================

### PYTHON RESERVED WORDS - 
* if a kid going to school what he/she will learn A,B,C - - - -Z then she will learn A - APPLE, B -BALL, C - CAT. (APPLE,BALL,CAT - Reserved word in english) 
* Apple is reserved for the fruit, Ball ==> play, Cat ==> Animal // (Dictionary uncountable reserved words is there).. This type of words are called Reserved word
* In any programming language there is a reserved word are there we gonna learn only python Reserved

* python reserved are => (33 RESERVED WORDS) If you learn 33 reserved words then python is complete
* all reserved words have some meaning & functionality 
* Learning python is nothing but learing all this functionality

**33 RESERVED WORDS---
* True, False, None ==> Represent Boolean data types   
* and, or, not, is ==> Represent the operators
* if, else, elif ==> Represent the statement   (# python switch,do..while statament is not available)
* while, for, break, continue, return, in, yield ==> Represent the loop concept
* try, except, finally, raise, assert ==> Represent for functionallity
* import,from,as,class,def,pass,global,nonlocal,lambda,del,with==>Represent the class,method,function

**NOTES --  *33 RESERVED WORDS ARE (ALPHABET) // *EXCEPT (True,False,None)

In [ ]:
a = True
#a = true
a

In [4]:
b = None
#b = none
b

In [5]:
c = False
#c = false
c

False

In [6]:
# How to remembr all keywords --- (Interview questions)
# KEYWORD is the module run from IMPORT class

import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [7]:
# write a coding to create index of these keywords --- IMP ---

import pandas as pd # pandas is the module to create a dataframe
df = pd.DataFrame(keyword.kwlist)
df

# Always remember python Index begins with '0'

# ================= RESERVED WORDS COMPLETED ===============================

           0
0      False
1       None
2       True
3        and
4         as
5     assert
6      async
7      await
8      break
9      class
10  continue
11       def
12       del
13      elif
14      else
15    except
16   finally
17       for
18      from
19    global
20        if
21    import
22        in
23        is
24    lambda
25  nonlocal
26       not
27        or
28      pass
29     raise
30    return
31       try
32     while
33      with
34     yield

### PYTHON DATA TYPES // (14) - INBUILD DATA TYPES - 
1>int
2>float
3>complex
4>bool
5>str
6>bytes
7>bytearray
8>range
9>list
10>tuple
11>set
12>frozenset
13>dict
14>None

* python provides some inbuild function like -- <1> print() <2> type() <3> id()

* int,float,complex,boolen is not represent object # Tricky question
* except these 4 everythig object # Tricky question

*NOTE - [**In python all 14 data types are object only]
*Thats why we called as python is object oriented program

In [8]:
# What is other inbuild datatype available except 14 datatypes-

a = 10
print('a')       # To find the variable 
print(a)         # To find the value of variable
print(type(a))   # To find the data type
id(a)            # To find an address of an object

a
10
<class 'int'>

140716806480560

In [9]:
a = 10
a
id(a)

140716806480560

#### int datatypes - 
* INT Datatypes - The No.without decimal point are called as INTEGRAL DATATYPES
*int datatype how many ways represent values in 4ways - 
1> Decimal form --- (Base-10) -- (0 to 9)
2> Binary form --- (Base-2) -- (0,1)
3> Octal form --- (Base-8) -- (0,7)
4> Hexa Decimal --- (Base-16) --- 0to 9, (a/A to f/F => 11 to 16)

In [10]:
#1.Decimal form(Base 10)
a = 4809
a

4809

In [11]:
#2.Binary form(Base 2)
a = 1111   # value is declared
b = 0B1111 # Now pvm convert value to binary value
b

15

In [12]:
#3. Octal form(Base 8)
a = 111 # Value is declared
b = 0o111 # Now pvm covert value to octal value
b

73

In [13]:
#4.Hexa decimal form(Base 16) (0 to 9) (a to f) -- (10 to 15)
#a = 0XBeefg # python interpretor thrown some error becuse limitation till f
b = 0xface # (61440+2560+192+14)
b

64206

In [14]:
# final summary of INTEGRAL DATATYPES 
a = 10
b = 0b10
c = 0o10
d = 0x10

#### float datatypes - 
*employee sal - 5676.76
*diesel price - 67.25
* These values are not integral value this is called as decimal value
* Floating datatype you cannot declare Binary,Octal & Hexadecimal because         python enterpretur not accept that
* In our schools we learn about EXPONTIAL form -(1.2e3) this you can find in     float datatypes & only letter 'e' can allowed

In [15]:
# float datatypes - 
b = 4567.89
#print(type(b))
#type(b)
#c = 0x4567.89 # This is hexadecimal 
#d = 0o4567.89 # This is octal
#e = 0b4567.89 # This is binary

In [16]:
f = 2.4e3 # only 'e' letter is allowed
#g = 2.4g3 # except 'E' you can execute any programme

#### complex datatypes - 
* Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
* j is the compulsory value & there is no other value accepted in complex type
* j^2 = -1 
* Value of j is (j square is equal to -1) (j =(square root of -1) is equal to     (j^2 = -1) pure mathemetics so if you want to develop mathmetic 
  application or scientific application then python is the best option
* Real type any type base can be accepted but imaginary part allow only integer

In [17]:
x = 30+40j #assigned int value in real part & imaginary part
print(type(x))

<class 'complex'>

In [18]:
y = 20.5+2.3j #assigned float value in real part & imaginary part
z = 30.8+20j  #assigned float value in real part & real value in imaginary part
#y + z
y/z

(0.5022837821805671-0.25148297544192666j)

In [19]:
#c = 15+0b111j # Imaginary part cannot be binary,octal,hexadecimal
d = 0b111+15j # Real part can be binary,octal,hexadecimal
d

(7+15j)

In [20]:
a1 = 20+30j
b1 = 40+50j
#a1+b1
#a1-b1
#a1*b1
#a1/b1

In [21]:
a1 = 10+20j  # I want to know what the value of real part & imaginary part
#a1.real   # complex data type will use in mathmetic concept not that required for programming language
#a1.imaginary
a1.imag

20.0

#### bool datatypes - 
* True/False - (only allowed boolean values)
* False value -- 0 (internally memory level conversion happened)
* True value -- 1

In [22]:
a = 10
b = 20
c = a<b
c

True

In [23]:
#True+True
#True*True
#True-True
#True/True
#False+False
False+True

1

#### str datatypes - 
* enclosed in '' (single quote) // "" (double quote)
* singa line we assined as '' // ""
* multiline we assigned as ("' "')

In [24]:
x = 'amxwam'
y = "god"
print(type(x))
print(type(y))
z = ''' amxwam 
        datascience 
    academy'''
s = '''amxwam "datascience" academy'''

<class 'str'>
<class 'str'>

#### Type casting or Type coersion - 
int() -- float() -- complex() -- bool() -- str()

In [25]:
# int(): - you can convert from other type to int type except complex 

#int(10.123)  # float to int
#int(10+20j) # cannot convert from complex to int
#int(True)    # Bool to int
#int(False)   # Boll to int
#int("10")    # string to int

In [26]:
# float(): -- convert from any type to float except complex

float(10)      # int to float
#float(10+20j)  # cannot convert complex to float
float(True)    # boolean to float
float('10')    # string to float

10.0

In [27]:
# complex(): -- covert any other type to complex type
# --- this only for 1 argument ------

complex(10)    # int to complex
complex(10,20) # int to complex
complex(10.5)  # float to complex
complex(True)  # Bool to complex
complex(False) # Bool to complex
complex('10')  # string to complex 

# ----- Now we will check for 2 arguments ------
complex(10,20)   # int to complex
complex(10,20.5) # float to complex
complex('10')    # string to complex, you cannot assign 2 argument

(10+0j)

In [28]:
# Bool()  - (0 means false // 1 means non zero)

bool(0)      # int to bool
bool(10)     # int to bool
bool(0.0)    # float to bool
bool(0.01)   # float to bool 
bool(10+20j) # complext to bool
bool(0+0j)   # complex to bool
bool("")      # string to bool(if argument is empty string then false)
bool('amxwam')# string to bool(if argument is not empty string then true)
bool(' ')    # space is also treated as character so non empty string

True

In [29]:
# str(): --- any type is possible in string 

str(10)     # int to string
str(10.50)  # float to string
str(True)   # bool to string
str(10+20j) # complex to string

'(10+20j)'

* Fundamental Datatypes are which we covered so far & also we saw how to work on the type casting from one data type to other - 
 
 int()
 float()
 complex()
 bool()
 str()

-------------

#### Fundamental datatypes vs Immutability -- 

* All fundamental datatypes are immutable. what is immutable - once we crate the object we are not allow to perform any 
  changes in that object . we can say that (non-changeable behaviour)
* why immutability concept is required -- if you look at below exampl - how many object we created only 1 object which is 10
  but how many reference we assinged -- 3 reference indicates to 1 object
* bigest advantage of this approch is memory utilization & performance is also improved (pvm do not want to wsat memory)
* you can create object with different name, but you cannot create object with same name

In [30]:
x2 = 10
y2 = 10
z2 = 10 
print(id(x2))
print(id(y2))
print(id(z2))

140716806480560
140716806480560
140716806480560

In [31]:
print(x2 is z2)
print(x2 is y2)
print(y2 is z2)

True
True
True

* Mutable -- Changeable-- once you create an object 
* Immutable -- Non-changeable
* Fundamental data types are IMMUTABLE but (LIST is mutable)
* Everything in python is an object

**This concept reusing same object such type of concept is define following ranges -
1> int ----> 0 to 256
2> bool ---> Always 
3> str ----> Always
4> float & complex ----> Can not performe the reusable concept

In [32]:
x = 10 
y = 10
print(id(x))
print(id(y))

140716806480560
140716806480560

In [33]:
id(y)

140716806480560

In [34]:
# is operator
x = 20 # x,y = 20
y = 20
#x is y
y is x

True

In [35]:
x = True
y = True
z = True
x is y
y is z
z is x
z is y

True

In [36]:
x = 10.0   # Reusable concept is not there in float data type 
y = 10.0
x is y

False

In [37]:
x = 10 +20j # complex and floating number this concept is not applicable
y = 10 +20j
x is y

False

## ------ END OF THE TODAYS SESSION ----- ##

-------

### PYTHON DATA STRUCTURE ( TASK - 2)

* LIST DATASTRUCTURE - 

* Insertation order is preserved & duplicates are allowed
* if you want to represent group of values as a singel entity where insertation   order is preserved and duplicates are allowed   then we can go for LIST datatype
* what is the meaning of insertaion order is preserved
* you can increase the least object or you can decrease the list object 
* list you can use index operator and also slice operator

In [38]:
l = []
type(l)
print(type(l))

<class 'list'>

In [39]:
l

[]

In [40]:
#Now i want to add an object

l.append(10)
l.append(20)
l.append(30)
l.append(10)

In [41]:
l

[10, 20, 30, 10]

In [42]:
print(l)

[10, 20, 30, 10]

In [43]:
print(l) # if you check the output insertation order is preserved & duplication are allowed

[10, 20, 30, 10]

In [44]:
#hetrogenrous objects are allowed or not
#java people came and asking null is availabe or not, such type of stories are not available
# list objects are growable & this is just an introduction session & we will see indetails

l.append('amxwam')
l.append('8.0')
l.append(None)
print(l)

[10, 20, 30, 10, 'amxwam', '8.0', None]

In [45]:
l.remove('amxwam') #delete the object from list

In [46]:
l

[10, 20, 30, 10, '8.0', None]

In [47]:
l[0]

10

In [48]:
l[2]

30

In [49]:
l[1]

20

In [50]:
l[2:5]

[30, 10, '8.0']

In [51]:
l[-1] # output is none hear

In [52]:
l[-2]

'8.0'

In [72]:
l

[20, 20.3, 40]

In [54]:
l.remove(None)

In [55]:
l

[10, 20, 30, 10, '8.0']

In [56]:
l[-1]

'8.0'

In [73]:
l[-3]

20

* Finaly Summary of LIST DATATYPES -- 
1> order is important
2> duplicates are allowed
3> heterogenous are allowed i.e. different type is allowed
4> growable in nature & you can deleat or insert an object in the list
5> list is datastructure
6> values are enclose in square bracket[]
7> List is mutable
8> index concept applicated in list datatypes +ve- left to right,// -ve- right to left
9> slicin concept is also available

**so far we covered fundamental datatypes - int , float, comlex, str, bool
** we do covered type casting function , how to convert from one type to other
**we covered one datastructured called list datatypes

#### tuple concept 
* Tuple is immutable & List is mutable
* Tuple can be represent as ()
* once we create tuple we cannot modify 
* order & duplicates are allowed
* heterogenous are allowed i.e. different type is allowed
* index concept applicated in list datatypes +ve- left to right,// -ve- right 
* slicin concept is also available

In [74]:
l = [10,20.30,40] #list datastructure
t = (10,20,30,40) #tuple datastructure

In [75]:
t1 = (10,'amxwam',True, 5.8, 10)
t1

(10, 'amxwam', True, 5.8, 10)

In [76]:
t1[0]

10

In [77]:
t1[0:3]

(10, 'amxwam', True)

In [78]:
t1[0:4]

(10, 'amxwam', True, 5.8)

In [79]:
t1

(10, 'amxwam', True, 5.8, 10)

In [80]:
t

(10, 20, 30, 40)

In [81]:
t[0]

10

In [83]:
l #difference between list and tuple

[10, 20.3, 40]

In [90]:
l[0] = 20 #mutable (change)

In [91]:
l

[20, 20.3, 40]

In [92]:
l[0:]

[20, 20.3, 40]

In [93]:
l[:-2]

[20]

In [95]:
t

(10, 20, 30, 40)

In [96]:
t[0]= 20 # cannot change any value once you decleare cuz tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [97]:
t1

(10, 'amxwam', True, 5.8, 10)

In [98]:
t

(10, 20, 30, 40)

In [102]:
t2 = t*3 #in this case content has not changed but same t content repeted twice

In [103]:
t2

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [104]:
t3 = (10,20,[2,6]) #is this valid one & u can declare list inside the tuple

In [105]:
t3

(10, 20, [2, 6])

* in python which is the most common data types - range()
* range() datatypes represent a sequence of values
* always immutable
* range() datatypes we have multiple forms lets see one by one
* List insertation order is preserved but set insertation is not preserved

In [118]:
# FORM-1: range(10) -- represents values from 0 to 9 (python index start from 0)

r = range(10)
type(r) 
r

range(0, 10)

In [119]:
range(10.0, 10.5) # you cannot declare float argument

TypeError: 'float' object cannot be interpreted as an integer

In [120]:
r

range(0, 10)

In [109]:
# if i need value for 10 values 

for i in r: print(i)

0
1
2
3
4
5
6
7
8
9

In [121]:
r[0]

0

In [122]:
r[4]

4

In [123]:
r[0:3]

range(0, 3)

In [113]:


# FORM-1 concept we passed only one argument

**FORM:2 (if we passed 2 arguments)

In [124]:
# i want to generate a sequence of no fro 0 to 99

range(100)

range(0, 100)

In [125]:
# i want to represent number from 10 to 29 then we should not use above one

range(10,30) # repreent no. from 10 to 29 but not 100 & we passed 2 arguments

range(10, 30)

**Form:3 (if we passed 3 arguments)

In [126]:
range(50)

range(0, 50)

In [117]:
range(10,50) # 5 state from 10 to 50 print the output with 5 steps

range(10, 50)

In [ ]:
range(10,50,5) # 5 state from 10 to 50 print the output with 5 steps

In [128]:
for i in range(10,50,10): 
    print(i)

10
20
30
40

In [130]:
range(10,20,5, 6) #you cannot declare 4 aruguments once becusae max you can assign for 3 arguments or 3 parameter

TypeError: range expected at most 3 arguments, got 4

**set datatype**

Difference between list & set --
* My requirment of the programme is -- Represent group of object as single entity where duplicates are allowed and order is important then we go for LIST
* I dont want dupliacated, & order also not important then we will go for SET
* LIST are represent as [] && SET are represent as {}
* SET object does not support indexing or slicing
* insertation order are not preserved,order & duplicates are not allowed
* index concept are not allowed , hetrogeneuous object are allowed
* set is mutable
* add & remove method is use for SET but append method is used only for LIST

In [136]:
s = {10,20,30,10,20,30,} # is it allowed or not we will check

In [137]:
s #duplicates are not allowed

{10, 20, 30}

In [138]:
s1 = {30,10,20,10,}

In [140]:
s1

{10, 20, 30}

In [141]:
s[0] #set object does not support indexing or slicing or subscirptive

TypeError: 'set' object is not subscriptable

In [142]:
s[1:]

TypeError: 'set' object is not subscriptable

In [143]:
s

{10, 20, 30}

In [144]:
s.add('amxwam') #mutable
s

{10, 20, 30, 'amxwam'}

In [149]:
s.append('b')

AttributeError: 'set' object has no attribute 'append'

In [145]:
s.remove(30) #append function is applicable for list not for the set

In [146]:
s

{10, 20, 'amxwam'}

In [147]:
s1 = {'narayan','amxwam','shiva','mark','alex'} # in this case order is not allowed

In [148]:
s1

{'alex', 'amxwam', 'mark', 'narayan', 'shiva'}

In [ ]:
# frozenset exactly same as set but one criteria is immutable

In [151]:
s2 = {10,20,30,40}
s2

{10, 20, 30, 40}

In [152]:
fs = frozenset(s2)
fs

frozenset({10, 20, 30, 40})

In [153]:
type(fs)

frozenset

In [155]:
#fs.add(50) #add, remove such type of concept are not applicable in frozenset
fs.remove(50)

AttributeError: 'frozenset' object has no attribute 'remove'

**DICTIONARY DATATYPES (dict)

* oxford dictionary -- in oxford dictionary words along with meaning is there
* i can say that key:values
* in the case of list,tuple,set,range,set,frozenset we represent individually & all objects are individually object right guys.
* i want to represent as group of object as pair example -- (rollno:name, fruits:price, mobileno:name)
* dict is very important, very special category compare to all category
* duplicate keys are not allowed but values can be duplicate
* dict are represent as {}// : you can assined with given operator
* keys & values both can be hetrogeneous
* No such type of rule that all keys are integer types & values are string type
* keys & values can any type of object

In [156]:
d = {100:'amxwam', 200:'shiv', 300:'nar'}
d

{100: 'amxwam', 200: 'shiv', 300: 'nar'}

In [157]:
type(d)

dict

In [158]:
# i want to create an empty dictionary, now tell me is that set or dict ???

d1 = {}  # always treated as dict
d1

{}

In [159]:
print(type(d1))

<class 'dict'>

In [160]:
# you may ask questiong how to create empty set 

s = set() 
s

set()

In [161]:
print(type(s))

<class 'set'>

In [162]:
# i created empty dict

d2 = {} # i want to add some element, so dict is mutable

In [163]:
d2[100] = 'amxwam' # this is the metod to add an object in dictinary & no add,remove function are applicable in dict

In [164]:
d2[200] = 'shiv'

In [165]:
d2

{100: 'amxwam', 200: 'shiv'}

In [166]:
d2[100] = 'xxx'

In [167]:
d2 # duplicates are not allowed but values are changes

{100: 'xxx', 200: 'shiv'}

In [168]:
del d2[100] # how to remove key & values in dict

In [169]:
d2

{200: 'shiv'}

------

## Datatypes are completed ##